/* ---------------------------------- navbar ---------------------------------------------------- */
.dropdown-item-checked::before {
    position: absolute;
    left: .4rem;
    content: '✓';
    font-weight: 600;
}


/* ---------------------------------- main container -------------------------------------------- */
.main-container {
    background-color: #189ca1;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.main-heading {
    color: #00047a;
    padding-top: 100px;
    padding-bottom: 60px;
    margin: auto;
}


/* ---------------------------------- score, lives and timer display ---------------------------- */
.sign {
    color: #053b1e;
    padding-left: 30px;
}

.score {
    color: #000;
    padding-left: 20px;
}

.lives {
    color: #000;
    padding-left: 20px;
}

.timer {
    color: #000;
    padding-left: 20px;
}


/* ---------------------------------- display for the numbers ----------------------------------- */
.display-numbers {
    font-size: 40px;
    letter-spacing: 20px;
    padding-top: 40px;
    padding-bottom: 50px;
}

.display {}


/* ---------------------------------- interactive buttons --------------------------------------- */
.buttons {}

.btn-custom {
    background-color: forestgreen;
    font-weight: bold;
    border: 1px solid #555;
    font-size: 30px;
    padding: 10px 30px 10px 30px;
    margin: 2px;
}

.buttons .disabled {
    background-color: #555;
}


/* ---------------------------------- media query for responsive design ------------------------- */
@media (max-width: 360px) {
    .main-heading {
        padding-top: 60px;
        padding-bottom: 20px;
        font-size: 20px;
    }

    .btn-custom {
        font-size: 20px;
    }

    .sign {
        font-size: 20px;
    }

    .display-numbers {
        font-size: 30px;
        letter-spacing: 5px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}